//General
$white: #ffffff;
$black: #000000;
$blue: #133ABD;
$blue-hover: #0f2a81;

//Gray
$gray: #2c3d4a;
$gray-body: #606e78;
$gray-sub: #94a5b2;
$gray-bg: #eef2f5;

// Ofher
$indigo: #364fc7;
$href: #1b6ec2;
